body {
    background: rgb(90,137,208);
    background: linear-gradient(90deg, rgba(90,137,208,1) 0%, rgba(82,104,200,1) 42%, rgba(82,66,147,1) 100%);
    color: white;
    height: 100%;
    overflow: hidden;
}

.__LoadEffect__ {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -999;
}

.__LoadEffect__ pre {
    font-size: 12px;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.__LoadEffect__ h1 {
    font-size: 25px;
    font-family: 1.3rem Inconsolata, monospace;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.neon {
    animation: neonAnim 2s alternate-reverse infinite;
    color: white;
    font-family: Cursive;
    font-size: 72px;
}
@keyframes neonAnim {
    from {
        text-shadow:
          0 0 10px rgba(255, 255, 255, 0.7),
          0 0 40px rgba(255, 255, 255, 0.7),
          0 0 100px rgba(255, 255, 255, 0.7);
      }
      to {
        text-shadow:
          0 0 5px rgba(255, 255, 255, 0.7),
          0 0 20px rgba(255, 255, 255, 0.7),
          0 0 60px rgba(255, 255, 255, 0.7);
      }
}

.content {
    padding-top: 2%;
}

.Applist {
    display: flex;
}

.DesktopApp {
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    transition: all 0.4s;
    cursor: pointer;
    width: 5%;
}

.DesktopApp .Icon {
    width: 36px;
}

.DesktopApp .Appname {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.DesktopApp:hover {
    background-color: rgba(255, 255, 255, 0.3);
}






.taskbar {
    width: 100%;
    height: 2%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #2b2b34;
    padding: 6px;
}






.profile {
    width: 20%;
    height: 80%;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    padding: 12px 15px;
}

.profile img {
    width: 40%;
    height: auto;
    border-radius: 50%;
}

.profile ol a {
    color: white;
}






.WinFrame {
    display: none;
    position: absolute;
    z-index: 9;
    width: 60%;
    background-color: #24252d;
    color: white;
    height: 70%;
    transition: opacity 0.2s;
    border-radius: 5px;
    text-align: left;
    top: 5%;
    left: 5%;
}

.WinFrame #content {
    width: 100%;
    height: 92%;
}
  
.WinFrame #Header {
    padding: 10px;
    z-index: 10;
    color: white;
    cursor: default;
    text-align: center;
    justify-content: center;
}

.WinFrame #Header .Icon {
    float: left;
    width: 15px;
}

.WinFrame button {
    float: right;
    border: none;
    color: #191a1f;
    text-align: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.4s;
    border-radius: 30px;
    background-color: #191a1f;
    font-weight: bold;
    padding: 2px 4px;
}

.WinFrame #Close:hover {
    background-color: #d86057;
    color: black;
}

.WinFrame #Full:hover {
    background-color: #e7bb4f;
    color: black;
}

.WinFrame #Mini:hover {
    background-color: #5471e7;
    color: black;
}

.WinFrame #Top {
    width: 100%;
    height: 1%;
    background-color: transparent;
    cursor: row-resize;
    top: -1px;
    left: 0px;
    z-index: 10;
    position: absolute;
}

.WinFrame #Bottom {
    width: 100%;
    height: 1%;
    background-color: transparent;
    cursor: row-resize;
    bottom: -1px;
    left: 0px;
    z-index: 10;
    position: absolute;
}

.WinFrame #Left {
    width: 1%;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    top: 0px;
    left: -1px;
    z-index: 10;
    position: absolute;
}

.WinFrame #Right {
    width: 1%;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
    top: 0px;
    right: -1px;
    z-index: 10;
    position: absolute;
}

.viewer {
    width: 100%;
    height: 100%;
    border: none;
}